.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: fit-content;
  margin: auto;
  canvas {
    border: 1px solid lightgrey;
    background: white;
  }
}

.slider {
  width: 1000px;
  height: 50px;
  margin-top: 25px;
  position: relative;
}

#background {
  visibility: visible;
  cursor: crosshair;
  fill: rgb(230, 230, 230);
}

#extent {
  position: relative;
  cursor: move;
  fill: rgba(255, 255, 255, 0.5);
  visibility: visible;
}
